.shopHeader{
    text-align: center;
}
li a{
    text-decoration: none;
    color:white;

}
.navigation-items
{
    list-style-type: none;

}
.card{
    
    background-color: #F6D7A7;

}
.box{
    box-sizing: border-box;
    border: 6px solid transparent;
    background-clip:padding-box;
  }
  a{
      cursor: pointer;
  }