<mat-nav-list>
    <a mat-list-item routerLink='' (click)='onSideNavClose()'>
        <mat-icon>home</mat-icon> <span class="nav-caption">home</span>
    </a>
    <a mat-list-item routerLink='products' (click)='onSideNavClose()'>
        <mat-icon>shop</mat-icon> <span class="nav-caption">Prodotti</span>
    </a>
    <a mat-list-item routerLink='products' (click)='onSideNavClose()'>
        <mat-icon>person</mat-icon> <span class="nav-caption">Chi Siamo</span>
    </a>
    <a mat-list-item routerLink='products' (click)='onSideNavClose()'>
        <mat-icon>store</mat-icon> <span class="nav-caption">Negozi</span>
    </a>

</mat-nav-list>